In [3]:
#Import libraries and password
from sqlalchemy import create_engine
import pandas as pd
from config import password

In [4]:
#Make the engine and establish te connection
engine = create_engine(f"postgres+psycopg2://postgres:{password}@localhost:5432/sql-homework")
connection = engine.connect()

In [1]:
#departments = engine.execute("SELECT * FROM departments")
#departments_df = pd.DataFrame(departments.fetchall())
#departments_df.columns = departments.keys()
#departments_df

In [5]:
#Create the main dataframe to work from
needed_data = engine.execute("SELECT s.salary, t.title FROM salaries s LEFT JOIN employees e ON e.emp_no = s.emp_no LEFT JOIN titles t ON t.title_id = e.emp_title_id")
needed_df = pd.DataFrame(needed_data.fetchall())
needed_df.columns = needed_data.keys()

In [9]:
needed_df.head()

   salary            title
0   78228            Staff
1   72488         Engineer
2   42365            Staff
3   55881  Senior Engineer
4   41538  Senior Engineer